@font-face {
    font-family: 'Lexend';
    src: url(../../public/fonts/Lexend/Lexend-VariableFont_wght.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'Lexend_Giga';
    src: url(../../public/fonts/Lexend_Giga/LexendGiga-VariableFont_wght.ttf) format('ttf');
  }
  