@import 'buttons.css';
@import 'variables.css';

*{
    box-sizing: border-box;
    font-family: Lexend;
}

:root{
--color-secondary: #01355680;
--color-primary: #013556;
--color-background: #EFF9FF;

--shadow-1:  rgba(149, 157, 165, 0.2) 0px 8px 24px;
--shadow-2:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
--shadow-3:  rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

color: var(--color-primary);
background-color: var(--color-background);
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ebebeb; 
}