.contact-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact-section__container{
    max-width: 1440px;
    width: 100%;
    padding: 40px 20px;
    display: inline-flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .contact-section__container{
        display: grid;
    }   
}

.contact-section__col-left{
    display: grid;
    align-items: center;
    align-content: center;
}

.contact-section__title{
    font-family: Lexend;
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;

}

@media screen and (max-width: 768px) {
    .contact-section__title{
        font-size: 45px;
    }
}
.contact-section__subTitle{
    font-family: Lexend;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #013556B2;
    margin-top: 20px;
}
.contact-section__phone{
    font-family: Lexend;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    margin-top: 20px;
}


.contact-section__col-right{}
.contact-section .form-wrapper{
    background: #fff;
    border: 1px solid #01355626;
    border-radius: 30px;
    padding: 40px;
    max-width: 645px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .contact-section .form-wrapper{
        padding: 20px;
        margin-top: 50px;
    }
}

#form-contact{
    display: grid;
    align-content: flex-start;
    align-items: flex-start;
}

 /* Style for the input container */
 .input-container {
    position: relative;
    margin: 8px 0;
}

/* Style for the input field */
.input-field {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #b3c3cd; /* Change this color to suit your design */
    outline: none;
    max-width: 560px;
    width: 100%;
    min-width: 560px;

    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
.input-field {
    min-width: auto;
    max-width: 100%;

}
}
textarea.input-field {
    resize:none;
}

/* Style for the input underline when focused */
.input-field:focus {
    border-bottom: 2px solid var(--color-primary); /* Change this color to suit your design */
}

/* Style for the label */
.input-label {
    position: absolute;
    left: 0;
    top: 16px;
    transition: top 0.2s ease, font-size 0.2s ease;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    line-height: 17.5px;
    text-align: left;

}

/* Move the label up when the input field is focused or has content */
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
    top: -4px;
    font-size: 12px;
    color: #013556B2;
}

 #form-contact .form-submit {
    margin: 15px 0 0 auto;
}

.form-sent{
    display: grid;
    justify-content: center;
    border-top: 1px solid #01355626;
    margin-top: 20px;
    padding: 20px;
    min-width: 560px;
}

@media screen and (max-width: 768px) {
    .form-sent{
        min-width: auto;
        max-width: 100%;
    }
}

.form-sent svg{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.form-sent .text{
    text-align: center;
}
.form-sent .text h1{
    margin: 0;
    margin-top: 10px;
}

.form-sent span{
    
}