.footer{
    background-color: var(--color-primary);
    padding: 100px;
    min-height: 200px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer{
        padding: 50px;
    }
}

.footer span {
    color: #fff;
}